<div class="row" ng-controller="ListaJediController as vm">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Nome</th>
                  <th>PLaneta</th>
                  <th>Status</th>
                  <th>Excluir</th>
                </tr>
                <tr ng-repeat="jedi in vm.obj">
                  <td>{{jedi.name}}</td>
                  <td>{{jedi.planet}}</td>
                  <td>{{jedi.status}}</td>
                  <td><button class="btn btn-danger" ng-disabled="true" ng-click="vm.excluir(jedi)">Excluir</button></td>
                </tr>
               
              </table>
            </div>
          </div>
        </div>
      </div>
 